





.pnp
.pnp.*


.next/standalone/


storybook-static/


/test-results/
/playwright-report/
/playwright/.cache/
/cypress/videos/
/cypress/screenshots/


.next/analyze/


.vercel


AGENTS.md
CLAUDE.md