ASTRA_DB_APPLICATION_TOKEN=AstraCS:...
ASTRA_DB_API_ENDPOINT=https://<db-id>-<region>.apps.astra.datastax.com
ASTRA_DB_KEYSPACE=agrosense
ASTRA_DB_COLLECTION=transactions
LANGFLOW_API_URL=http://localhost:7860/api/v1/run/<flow-id>
LANGFLOW_API_KEY=
